*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.visible {
  visibility: visible;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-\[20px\] {
  bottom: 20px;
}

.bottom-\[30px\] {
  bottom: 30px;
}

.left-\[-50px\] {
  left: -50px;
}

.left-\[0px\] {
  left: 0px;
}

.left-\[10px\] {
  left: 10px;
}

.left-\[18px\] {
  left: 18px;
}

.left-\[20px\] {
  left: 20px;
}

.left-\[270px\] {
  left: 270px;
}

.left-\[32px\] {
  left: 32px;
}

.left-\[54px\] {
  left: 54px;
}

.right-0 {
  right: 0px;
}

.right-\[-1px\] {
  right: -1px;
}

.right-\[0px\] {
  right: 0px;
}

.right-\[100px\] {
  right: 100px;
}

.right-\[26px\] {
  right: 26px;
}

.right-\[60px\] {
  right: 60px;
}

.top-\[-10px\] {
  top: -10px;
}

.top-\[0px\] {
  top: 0px;
}

.top-\[20px\] {
  top: 20px;
}

.top-\[220px\] {
  top: 220px;
}

.top-\[255px\] {
  top: 255px;
}

.top-\[265px\] {
  top: 265px;
}

.top-\[300px\] {
  top: 300px;
}

.top-\[30px\] {
  top: 30px;
}

.top-\[410px\] {
  top: 410px;
}

.top-\[440px\] {
  top: 440px;
}

.top-\[50px\] {
  top: 50px;
}

.top-\[68px\] {
  top: 68px;
}

.top-\[60px\] {
  top: 60px;
}

.left-\[25px\] {
  left: 25px;
}

.left-\[23px\] {
  left: 23px;
}

.left-\[22px\] {
  left: 22px;
}

.left-\[21px\] {
  left: 21px;
}

.top-\[80px\] {
  top: 80px;
}

.top-\[100px\] {
  top: 100px;
}

.left-\[50px\] {
  left: 50px;
}

.top-\[40px\] {
  top: 40px;
}

.right-\[10px\] {
  right: 10px;
}

.right-\[-10px\] {
  right: -10px;
}

.right-\[-20px\] {
  right: -20px;
}

.z-\[-1\] {
  z-index: -1;
}

.z-\[1\] {
  z-index: 1;
}

.z-\[2\] {
  z-index: 2;
}

.m-0 {
  margin: 0px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-\[100px\] {
  margin-top: 100px;
  margin-bottom: 100px;
}

.my-\[10px\] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-\[80px\] {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-0 {
  height: 0px;
}

.h-\[110px\] {
  height: 110px;
}

.h-\[130px\] {
  height: 130px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[151px\] {
  height: 151px;
}

.h-\[161px\] {
  height: 161px;
}

.h-\[227px\] {
  height: 227px;
}

.h-\[26px\] {
  height: 26px;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[348\.91px\] {
  height: 348.91px;
}

.h-\[350px\] {
  height: 350px;
}

.h-\[380\.3px\] {
  height: 380.3px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[450px\] {
  height: 450px;
}

.h-\[470px\] {
  height: 470px;
}

.h-\[480px\] {
  height: 480px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[78px\] {
  height: 78px;
}

.h-\[96px\] {
  height: 96px;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[90px\] {
  height: 90px;
}

.w-2 {
  width: 0.5rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[108px\] {
  width: 108px;
}

.w-\[130px\] {
  width: 130px;
}

.w-\[15\%\] {
  width: 15%;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[162px\] {
  width: 162px;
}

.w-\[170px\] {
  width: 170px;
}

.w-\[181px\] {
  width: 181px;
}

.w-\[190px\] {
  width: 190px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[302px\] {
  width: 302px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[315px\] {
  width: 315px;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[321px\] {
  width: 321px;
}

.w-\[370px\] {
  width: 370px;
}

.w-\[379px\] {
  width: 379px;
}

.w-\[409px\] {
  width: 409px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[52px\] {
  width: 52px;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[92px\] {
  width: 92px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-\[100\] {
  width: 100;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[0px\] {
  width: 0px;
}

.w-\[\] {
  width: ;
}

.w-1 {
  width: 0.25rem;
}

.w-\[fit\] {
  width: fit;
}

.w-\[px\] {
  width: px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[110px\] {
  width: 110px;
}

.w-\[90px\] {
  width: 90px;
}

.w-\[60px\] {
  width: 60px;
}

.-rotate-90 {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.place-items-center {
  place-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.gap-\[100px\] {
  gap: 100px;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[5\%\] {
  gap: 5%;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-\[70px\] {
  gap: 70px;
}

.gap-0 {
  gap: 0px;
}

.gap-\[0px\] {
  gap: 0px;
}

.gap-20 {
  gap: 5rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-\[60px\] {
  gap: 60px;
}

.space-x-\[10px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(10px * var(--tw-space-x-reverse));
  margin-left: calc(10px * calc(1 - var(--tw-space-x-reverse)));
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[24px\] {
  border-radius: 24px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-bl-\[24px\] {
  border-bottom-left-radius: 24px;
}

.rounded-br-\[24px\] {
  border-bottom-right-radius: 24px;
}

.rounded-tl-\[200px\] {
  border-top-left-radius: 200px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.bg-\[\#DF6951\] {
  --tw-bg-opacity: 1;
  background-color: rgb(223 105 81 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E5E5E5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(229 229 229 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F9F7FE\] {
  --tw-bg-opacity: 1;
  background-color: rgb(249 247 254 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f1a501\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 165 1 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ff906c\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 144 108 / var(--tw-bg-opacity, 1));
}

.bg-slate-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-yellow-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1));
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-\[6px\] {
  padding: 6px;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-\[11px\] {
  padding-left: 11px;
  padding-right: 11px;
}

.px-\[26px\] {
  padding-left: 26px;
  padding-right: 26px;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-\[11px\] {
  padding-top: 11px;
  padding-bottom: 11px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[52px\] {
  padding-top: 52px;
  padding-bottom: 52px;
}

.py-\[58px\] {
  padding-top: 58px;
  padding-bottom: 58px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.align-middle {
  vertical-align: middle;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[32px\] {
  font-size: 32px;
}

.text-\[50px\] {
  font-size: 50px;
}

.text-\[8px\] {
  font-size: 8px;
}

.font-\[700\] {
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.leading-\[124\.5\%\] {
  line-height: 124.5%;
}

.leading-\[26px\] {
  line-height: 26px;
}

.leading-\[32px\] {
  line-height: 32px;
}

.leading-\[36px\] {
  line-height: 36px;
}

.leading-\[54px\] {
  line-height: 54px;
}

.leading-\[58px\] {
  line-height: 58px;
}

.tracking-\[-1\.5\%\] {
  letter-spacing: -1.5%;
}

.tracking-\[-2px\] {
  letter-spacing: -2px;
}

.tracking-\[-3\.5\%\] {
  letter-spacing: -3.5%;
}

.tracking-\[-5\.5\%\] {
  letter-spacing: -5.5%;
}

.tracking-\[0\.5\%\] {
  letter-spacing: 0.5%;
}

.text-\[\#5E6282\] {
  --tw-text-opacity: 1;
  color: rgb(94 98 130 / var(--tw-text-opacity, 1));
}

.text-\[\#5e6282\] {
  --tw-text-opacity: 1;
  color: rgb(94 98 130 / var(--tw-text-opacity, 1));
}

.text-\[\#727692\] {
  --tw-text-opacity: 1;
  color: rgb(114 118 146 / var(--tw-text-opacity, 1));
}

.text-\[\#838590\] {
  --tw-text-opacity: 1;
  color: rgb(131 133 144 / var(--tw-text-opacity, 1));
}

.text-\[\#848890\] {
  --tw-text-opacity: 1;
  color: rgb(132 136 144 / var(--tw-text-opacity, 1));
}

.text-\[\#DF6951\] {
  --tw-text-opacity: 1;
  color: rgb(223 105 81 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.no-underline {
  text-decoration-line: none;
}

.opacity-10 {
  opacity: 0.1;
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.hover\:bg-black:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.hover\:text-black:hover {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

@media (min-width: 640px) {
  .sm\:absolute {
    position: absolute;
  }

  .sm\:left-\[110px\] {
    left: 110px;
  }

  .sm\:left-\[40px\] {
    left: 40px;
  }

  .sm\:right-\[-50px\] {
    right: -50px;
  }

  .sm\:right-\[0px\] {
    right: 0px;
  }

  .sm\:right-\[130px\] {
    right: 130px;
  }

  .sm\:right-\[20px\] {
    right: 20px;
  }

  .sm\:right-\[50px\] {
    right: 50px;
  }

  .sm\:top-\[0px\] {
    top: 0px;
  }

  .sm\:top-\[100px\] {
    top: 100px;
  }

  .sm\:top-\[10px\] {
    top: 10px;
  }

  .sm\:top-\[20px\] {
    top: 20px;
  }

  .sm\:top-\[30px\] {
    top: 30px;
  }

  .sm\:top-\[35px\] {
    top: 35px;
  }

  .sm\:top-\[70px\] {
    top: 70px;
  }

  .sm\:top-\[68px\] {
    top: 68px;
  }

  .sm\:left-\[32px\] {
    left: 32px;
  }

  .sm\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .sm\:mx-\[30px\] {
    margin-left: 30px;
    margin-right: 30px;
  }

  .sm\:my-\[60px\] {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .sm\:my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:h-\[0px\] {
    height: 0px;
  }

  .sm\:h-\[120px\] {
    height: 120px;
  }

  .sm\:h-\[130px\] {
    height: 130px;
  }

  .sm\:h-\[289px\] {
    height: 289px;
  }

  .sm\:h-\[30px\] {
    height: 30px;
  }

  .sm\:h-\[400px\] {
    height: 400px;
  }

  .sm\:h-\[40px\] {
    height: 40px;
  }

  .sm\:h-\[420px\] {
    height: 420px;
  }

  .sm\:h-\[450px\] {
    height: 450px;
  }

  .sm\:h-\[48px\] {
    height: 48px;
  }

  .sm\:h-\[58px\] {
    height: 58px;
  }

  .sm\:h-\[64px\] {
    height: 64px;
  }

  .sm\:h-\[70px\] {
    height: 70px;
  }

  .sm\:h-\[96px\] {
    height: 96px;
  }

  .sm\:h-fit {
    height: -moz-fit-content;
    height: fit-content;
  }

  .sm\:h-\[161px\] {
    height: 161px;
  }

  .sm\:w-\[100\%\] {
    width: 100%;
  }

  .sm\:w-\[120px\] {
    width: 120px;
  }

  .sm\:w-\[150px\] {
    width: 150px;
  }

  .sm\:w-\[250px\] {
    width: 250px;
  }

  .sm\:w-\[300px\] {
    width: 300px;
  }

  .sm\:w-\[30px\] {
    width: 30px;
  }

  .sm\:w-\[316px\] {
    width: 316px;
  }

  .sm\:w-\[370px\] {
    width: 370px;
  }

  .sm\:w-\[402px\] {
    width: 402px;
  }

  .sm\:w-\[50\%\] {
    width: 50%;
  }

  .sm\:w-\[511px\] {
    width: 511px;
  }

  .sm\:w-\[90\%\] {
    width: 90%;
  }

  .sm\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .sm\:w-\[409px\] {
    width: 409px;
  }

  .sm\:w-\[321px\] {
    width: 321px;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-start {
    align-items: flex-start;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:gap-\[00px\] {
    gap: 00px;
  }

  .sm\:gap-\[10px\] {
    gap: 10px;
  }

  .sm\:gap-\[5\%\] {
    gap: 5%;
  }

  .sm\:gap-\[50px\] {
    gap: 50px;
  }

  .sm\:gap-\[0px\] {
    gap: 0px;
  }

  .sm\:space-x-\[10px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(10px * var(--tw-space-x-reverse));
    margin-left: calc(10px * calc(1 - var(--tw-space-x-reverse)));
  }

  .sm\:px-\[1px\] {
    padding-left: 1px;
    padding-right: 1px;
  }

  .sm\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sm\:py-\[15px\] {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .sm\:py-\[1px\] {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .sm\:py-\[6px\] {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-center {
    text-align: center;
  }

  .sm\:text-start {
    text-align: start;
  }

  .sm\:text-\[10px\] {
    font-size: 10px;
  }

  .sm\:text-\[12px\] {
    font-size: 12px;
  }

  .sm\:text-\[13px\] {
    font-size: 13px;
  }

  .sm\:text-\[14px\] {
    font-size: 14px;
  }

  .sm\:text-\[16px\] {
    font-size: 16px;
  }

  .sm\:text-\[21px\] {
    font-size: 21px;
  }

  .sm\:text-\[33px\] {
    font-size: 33px;
  }

  .sm\:text-\[34px\] {
    font-size: 34px;
  }

  .sm\:text-\[40px\] {
    font-size: 40px;
  }

  .sm\:text-\[50px\] {
    font-size: 50px;
  }

  .sm\:font-bold {
    font-weight: 700;
  }

  .sm\:font-medium {
    font-weight: 500;
  }

  .sm\:leading-\[30px\] {
    line-height: 30px;
  }

  .sm\:leading-\[40px\] {
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  .md\:absolute {
    position: absolute;
  }

  .md\:left-\[110px\] {
    left: 110px;
  }

  .md\:left-\[40px\] {
    left: 40px;
  }

  .md\:right-\[-60px\] {
    right: -60px;
  }

  .md\:right-\[0px\] {
    right: 0px;
  }

  .md\:right-\[150px\] {
    right: 150px;
  }

  .md\:right-\[20px\] {
    right: 20px;
  }

  .md\:right-\[70px\] {
    right: 70px;
  }

  .md\:top-\[0px\] {
    top: 0px;
  }

  .md\:top-\[10px\] {
    top: 10px;
  }

  .md\:top-\[20px\] {
    top: 20px;
  }

  .md\:top-\[35px\] {
    top: 35px;
  }

  .md\:top-\[50px\] {
    top: 50px;
  }

  .md\:top-\[70px\] {
    top: 70px;
  }

  .md\:top-\[90px\] {
    top: 90px;
  }

  .md\:left-\[32px\] {
    left: 32px;
  }

  .md\:top-\[68px\] {
    top: 68px;
  }

  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:mx-\[50px\] {
    margin-left: 50px;
    margin-right: 50px;
  }

  .md\:my-\[50px\] {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .md\:my-\[5px\] {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .md\:my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .md\:flex {
    display: flex;
  }

  .md\:h-\[120px\] {
    height: 120px;
  }

  .md\:h-\[126px\] {
    height: 126px;
  }

  .md\:h-\[130px\] {
    height: 130px;
  }

  .md\:h-\[289px\] {
    height: 289px;
  }

  .md\:h-\[400px\] {
    height: 400px;
  }

  .md\:h-\[40px\] {
    height: 40px;
  }

  .md\:h-\[480px\] {
    height: 480px;
  }

  .md\:h-\[500px\] {
    height: 500px;
  }

  .md\:h-\[50px\] {
    height: 50px;
  }

  .md\:h-\[58px\] {
    height: 58px;
  }

  .md\:h-\[64px\] {
    height: 64px;
  }

  .md\:h-\[70px\] {
    height: 70px;
  }

  .md\:h-\[96px\] {
    height: 96px;
  }

  .md\:h-fit {
    height: -moz-fit-content;
    height: fit-content;
  }

  .md\:h-\[161px\] {
    height: 161px;
  }

  .md\:w-\[100\%\] {
    width: 100%;
  }

  .md\:w-\[120px\] {
    width: 120px;
  }

  .md\:w-\[125px\] {
    width: 125px;
  }

  .md\:w-\[140px\] {
    width: 140px;
  }

  .md\:w-\[227px\] {
    width: 227px;
  }

  .md\:w-\[250px\] {
    width: 250px;
  }

  .md\:w-\[300px\] {
    width: 300px;
  }

  .md\:w-\[316px\] {
    width: 316px;
  }

  .md\:w-\[350px\] {
    width: 350px;
  }

  .md\:w-\[370px\] {
    width: 370px;
  }

  .md\:w-\[402px\] {
    width: 402px;
  }

  .md\:w-\[40px\] {
    width: 40px;
  }

  .md\:w-\[45\%\] {
    width: 45%;
  }

  .md\:w-\[50\%\] {
    width: 50%;
  }

  .md\:w-\[511px\] {
    width: 511px;
  }

  .md\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .md\:w-\[409px\] {
    width: 409px;
  }

  .md\:w-\[321px\] {
    width: 321px;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:gap-\[0px\] {
    gap: 0px;
  }

  .md\:gap-\[10px\] {
    gap: 10px;
  }

  .md\:gap-\[20\%\] {
    gap: 20%;
  }

  .md\:gap-\[30px\] {
    gap: 30px;
  }

  .md\:space-x-\[10px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(10px * var(--tw-space-x-reverse));
    margin-left: calc(10px * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:px-\[5px\] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .md\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .md\:py-\[12px\] {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .md\:py-\[15px\] {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .md\:py-\[5px\] {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:text-center {
    text-align: center;
  }

  .md\:text-\[10px\] {
    font-size: 10px;
  }

  .md\:text-\[14px\] {
    font-size: 14px;
  }

  .md\:text-\[15px\] {
    font-size: 15px;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }

  .md\:text-\[21px\] {
    font-size: 21px;
  }

  .md\:text-\[33px\] {
    font-size: 33px;
  }

  .md\:text-\[34px\] {
    font-size: 34px;
  }

  .md\:text-\[35px\] {
    font-size: 35px;
  }

  .md\:text-\[40px\] {
    font-size: 40px;
  }

  .md\:text-\[50px\] {
    font-size: 50px;
  }

  .md\:font-bold {
    font-weight: 700;
  }

  .md\:font-medium {
    font-weight: 500;
  }

  .md\:leading-\[30px\] {
    line-height: 30px;
  }

  .md\:leading-\[40px\] {
    line-height: 40px;
  }

  .md\:tracking-\[-4px\] {
    letter-spacing: -4px;
  }
}

@media (min-width: 1024px) {
  .lg\:absolute {
    position: absolute;
  }

  .lg\:left-\[200px\] {
    left: 200px;
  }

  .lg\:left-\[40px\] {
    left: 40px;
  }

  .lg\:right-\[-50px\] {
    right: -50px;
  }

  .lg\:right-\[0px\] {
    right: 0px;
  }

  .lg\:right-\[280px\] {
    right: 280px;
  }

  .lg\:right-\[40px\] {
    right: 40px;
  }

  .lg\:right-\[90px\] {
    right: 90px;
  }

  .lg\:top-\[-15px\] {
    top: -15px;
  }

  .lg\:top-\[0px\] {
    top: 0px;
  }

  .lg\:top-\[10px\] {
    top: 10px;
  }

  .lg\:top-\[130px\] {
    top: 130px;
  }

  .lg\:top-\[20px\] {
    top: 20px;
  }

  .lg\:top-\[50px\] {
    top: 50px;
  }

  .lg\:top-\[60px\] {
    top: 60px;
  }

  .lg\:top-\[70px\] {
    top: 70px;
  }

  .lg\:top-\[68px\] {
    top: 68px;
  }

  .lg\:left-\[32px\] {
    left: 32px;
  }

  .lg\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg\:mx-\[50px\] {
    margin-left: 50px;
    margin-right: 50px;
  }

  .lg\:my-\[40px\] {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .lg\:my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:h-\[130px\] {
    height: 130px;
  }

  .lg\:h-\[200px\] {
    height: 200px;
  }

  .lg\:h-\[289px\] {
    height: 289px;
  }

  .lg\:h-\[400px\] {
    height: 400px;
  }

  .lg\:h-\[40px\] {
    height: 40px;
  }

  .lg\:h-\[550px\] {
    height: 550px;
  }

  .lg\:h-\[64px\] {
    height: 64px;
  }

  .lg\:h-\[68px\] {
    height: 68px;
  }

  .lg\:h-\[90px\] {
    height: 90px;
  }

  .lg\:h-\[96px\] {
    height: 96px;
  }

  .lg\:h-fit {
    height: -moz-fit-content;
    height: fit-content;
  }

  .lg\:h-\[161px\] {
    height: 161px;
  }

  .lg\:w-\[100\%\] {
    width: 100%;
  }

  .lg\:w-\[180px\] {
    width: 180px;
  }

  .lg\:w-\[316px\] {
    width: 316px;
  }

  .lg\:w-\[327px\] {
    width: 327px;
  }

  .lg\:w-\[370px\] {
    width: 370px;
  }

  .lg\:w-\[395px\] {
    width: 395px;
  }

  .lg\:w-\[400px\] {
    width: 400px;
  }

  .lg\:w-\[402px\] {
    width: 402px;
  }

  .lg\:w-\[421px\] {
    width: 421px;
  }

  .lg\:w-\[50\%\] {
    width: 50%;
  }

  .lg\:w-\[511px\] {
    width: 511px;
  }

  .lg\:w-\[70\%\] {
    width: 70%;
  }

  .lg\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .lg\:w-\[409px\] {
    width: 409px;
  }

  .lg\:w-\[321px\] {
    width: 321px;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:gap-\[100px\] {
    gap: 100px;
  }

  .lg\:gap-\[18\%\] {
    gap: 18%;
  }

  .lg\:gap-\[40px\] {
    gap: 40px;
  }

  .lg\:space-x-\[10px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(10px * var(--tw-space-x-reverse));
    margin-left: calc(10px * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:px-\[5px\] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .lg\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .lg\:py-\[5px\] {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-\[10px\] {
    font-size: 10px;
  }

  .lg\:text-\[14px\] {
    font-size: 14px;
  }

  .lg\:text-\[16px\] {
    font-size: 16px;
  }

  .lg\:text-\[18px\] {
    font-size: 18px;
  }

  .lg\:text-\[20px\] {
    font-size: 20px;
  }

  .lg\:text-\[21px\] {
    font-size: 21px;
  }

  .lg\:text-\[33px\] {
    font-size: 33px;
  }

  .lg\:text-\[44px\] {
    font-size: 44px;
  }

  .lg\:text-\[65px\] {
    font-size: 65px;
  }

  .lg\:text-\[50px\] {
    font-size: 50px;
  }

  .lg\:font-bold {
    font-weight: 700;
  }

  .lg\:font-medium {
    font-weight: 500;
  }

  .lg\:leading-\[30px\] {
    line-height: 30px;
  }

  .lg\:leading-\[65px\] {
    line-height: 65px;
  }

  .lg\:tracking-\[-4px\] {
    letter-spacing: -4px;
  }
}

@media (min-width: 1280px) {
  .xl\:absolute {
    position: absolute;
  }

  .xl\:left-\[250px\] {
    left: 250px;
  }

  .xl\:left-\[40px\] {
    left: 40px;
  }

  .xl\:right-\[0px\] {
    right: 0px;
  }

  .xl\:right-\[100px\] {
    right: 100px;
  }

  .xl\:right-\[150px\] {
    right: 150px;
  }

  .xl\:right-\[450px\] {
    right: 450px;
  }

  .xl\:top-\[-15px\] {
    top: -15px;
  }

  .xl\:top-\[0px\] {
    top: 0px;
  }

  .xl\:top-\[10px\] {
    top: 10px;
  }

  .xl\:top-\[20px\] {
    top: 20px;
  }

  .xl\:top-\[70px\] {
    top: 70px;
  }

  .xl\:top-\[80px\] {
    top: 80px;
  }

  .xl\:top-\[90px\] {
    top: 90px;
  }

  .xl\:top-\[68px\] {
    top: 68px;
  }

  .xl\:left-\[32px\] {
    left: 32px;
  }

  .xl\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .xl\:mx-\[100px\] {
    margin-left: 100px;
    margin-right: 100px;
  }

  .xl\:my-\[40px\] {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .xl\:my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:h-\[130px\] {
    height: 130px;
  }

  .xl\:h-\[267px\] {
    height: 267px;
  }

  .xl\:h-\[289px\] {
    height: 289px;
  }

  .xl\:h-\[400px\] {
    height: 400px;
  }

  .xl\:h-\[40px\] {
    height: 40px;
  }

  .xl\:h-\[630px\] {
    height: 630px;
  }

  .xl\:h-\[640px\] {
    height: 640px;
  }

  .xl\:h-\[68px\] {
    height: 68px;
  }

  .xl\:h-\[90px\] {
    height: 90px;
  }

  .xl\:h-\[96px\] {
    height: 96px;
  }

  .xl\:h-fit {
    height: -moz-fit-content;
    height: fit-content;
  }

  .xl\:h-\[161px\] {
    height: 161px;
  }

  .xl\:w-\[100\%\] {
    width: 100%;
  }

  .xl\:w-\[180px\] {
    width: 180px;
  }

  .xl\:w-\[316px\] {
    width: 316px;
  }

  .xl\:w-\[327px\] {
    width: 327px;
  }

  .xl\:w-\[370px\] {
    width: 370px;
  }

  .xl\:w-\[395px\] {
    width: 395px;
  }

  .xl\:w-\[402px\] {
    width: 402px;
  }

  .xl\:w-\[421px\] {
    width: 421px;
  }

  .xl\:w-\[477px\] {
    width: 477px;
  }

  .xl\:w-\[511px\] {
    width: 511px;
  }

  .xl\:w-\[545px\] {
    width: 545px;
  }

  .xl\:w-\[680px\] {
    width: 680px;
  }

  .xl\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .xl\:w-full {
    width: 100%;
  }

  .xl\:w-\[409px\] {
    width: 409px;
  }

  .xl\:w-\[321px\] {
    width: 321px;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:items-start {
    align-items: flex-start;
  }

  .xl\:justify-start {
    justify-content: flex-start;
  }

  .xl\:gap-\[200px\] {
    gap: 200px;
  }

  .xl\:gap-\[28\%\] {
    gap: 28%;
  }

  .xl\:gap-\[50px\] {
    gap: 50px;
  }

  .xl\:gap-\[60px\] {
    gap: 60px;
  }

  .xl\:gap-\[0px\] {
    gap: 0px;
  }

  .xl\:space-x-\[10px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(10px * var(--tw-space-x-reverse));
    margin-left: calc(10px * calc(1 - var(--tw-space-x-reverse)));
  }

  .xl\:px-\[5px\] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .xl\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .xl\:py-\[25px\] {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .xl\:py-\[5px\] {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .xl\:text-left {
    text-align: left;
  }

  .xl\:text-center {
    text-align: center;
  }

  .xl\:text-\[14px\] {
    font-size: 14px;
  }

  .xl\:text-\[16px\] {
    font-size: 16px;
  }

  .xl\:text-\[18px\] {
    font-size: 18px;
  }

  .xl\:text-\[20px\] {
    font-size: 20px;
  }

  .xl\:text-\[21px\] {
    font-size: 21px;
  }

  .xl\:text-\[33px\] {
    font-size: 33px;
  }

  .xl\:text-\[44px\] {
    font-size: 44px;
  }

  .xl\:text-\[50px\] {
    font-size: 50px;
  }

  .xl\:text-\[84px\] {
    font-size: 84px;
  }

  .xl\:font-bold {
    font-weight: 700;
  }

  .xl\:font-medium {
    font-weight: 500;
  }

  .xl\:leading-\[30px\] {
    line-height: 30px;
  }

  .xl\:leading-\[84px\] {
    line-height: 84px;
  }

  .xl\:tracking-\[-4px\] {
    letter-spacing: -4px;
  }
}

@media (min-width: 1536px) {
  .\32xl\:absolute {
    position: absolute;
  }

  .\32xl\:left-\[40px\] {
    left: 40px;
  }

  .\32xl\:top-\[20px\] {
    top: 20px;
  }

  .\32xl\:top-\[70px\] {
    top: 70px;
  }

  .\32xl\:top-\[68px\] {
    top: 68px;
  }

  .\32xl\:left-\[32px\] {
    left: 32px;
  }

  .\32xl\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .\32xl\:my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .\32xl\:flex {
    display: flex;
  }

  .\32xl\:h-\[130px\] {
    height: 130px;
  }

  .\32xl\:h-\[400px\] {
    height: 400px;
  }

  .\32xl\:h-\[64px\] {
    height: 64px;
  }

  .\32xl\:h-\[161px\] {
    height: 161px;
  }

  .\32xl\:w-\[100\%\] {
    width: 100%;
  }

  .\32xl\:w-\[370px\] {
    width: 370px;
  }

  .\32xl\:w-\[395px\] {
    width: 395px;
  }

  .\32xl\:w-\[402px\] {
    width: 402px;
  }

  .\32xl\:w-\[511px\] {
    width: 511px;
  }

  .\32xl\:w-\[409px\] {
    width: 409px;
  }

  .\32xl\:w-\[321px\] {
    width: 321px;
  }

  .\32xl\:flex-row {
    flex-direction: row;
  }

  .\32xl\:items-start {
    align-items: flex-start;
  }

  .\32xl\:justify-start {
    justify-content: flex-start;
  }

  .\32xl\:gap-\[0px\] {
    gap: 0px;
  }

  .\32xl\:space-x-\[10px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(10px * var(--tw-space-x-reverse));
    margin-left: calc(10px * calc(1 - var(--tw-space-x-reverse)));
  }

  .\32xl\:px-\[5px\] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .\32xl\:py-\[5px\] {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .\32xl\:text-left {
    text-align: left;
  }

  .\32xl\:text-center {
    text-align: center;
  }

  .\32xl\:text-\[16px\] {
    font-size: 16px;
  }

  .\32xl\:text-\[21px\] {
    font-size: 21px;
  }

  .\32xl\:text-\[33px\] {
    font-size: 33px;
  }

  .\32xl\:text-\[44px\] {
    font-size: 44px;
  }

  .\32xl\:text-\[50px\] {
    font-size: 50px;
  }
}